<div class="container">
  <p class="q-icon"></p>
  <p>Please confirm or edit your contact information, so that we can notify you when you are approved for our BETA.</p>
  <hr/>
  <form (submit)="submitForm()">
    <label for="name">NAME</label>
    <input type="text" name="name" />

    <label for="name">EMAIL ADDRESS</label>
    <input type="text" name="email" />

    <label for="name">PHONE NUMBER</label>
    <input type="text" name="phone" />

    <button type="submit"></button>
    
  </form>
</div>